.loginForm{
    width:400px;
    display: block;
    border: solid;
    margin: auto;
    padding: 10px;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
}

.button{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
